body { 
    font-family: 'Sergeo UI'Arial, 'Segoe UI', Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #e0f7fa, #fce4ec);
}
header{
    background: linear-gradient(to right, #4CAF50, #2e7d32);
    color: snow;
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;

}
nav{
    background-color: #222;
    padding: 12px;
    text-align: center;
}
nav a{
    color: snow;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}
nav a:hover {
    color: #ffd54f;
    background-color: #444;
    padding: 8px 12px;
    border-radius: 8px;
}
main{
    max-width: 900px;
    margin: 30px auto;
    background: snow;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px
    rgba(0,0,0,0.2);
}
h1{
    margin: 0;
}
h2{
    text-align: center;
    color: #333;
}
p{
    text-align: justify;
    line-height: 1.6;
}
ul{
    list-style-position: inside;
    line-height: 1.8;
}
img{
    display: block;
    width: 100%;
    max-width: 350px;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    margin: 20px auto;
    transition: 0.3s;
}
img:hover{
    transform: scale(1.05);
}
.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
table{
    margin: auto;
    border-collapse: collapse;
}
tp{
    padding: 10px;
}
iframe, video{
    display: block;
    margin-top: 20px auto ;
    border-radius: 10px;
}
p{
    text-align: center;
}
       body {
            background: #f2f2f2;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 30px;
        }

        h1 {
            margin-bottom: 30px;
            color: #333;
        }

        .gallery-table {
            margin: auto;
            border-spacing: 20px;
        }

        .gallery-table td {
            background: white;
            padding: 15px;
            border-radius: 15px;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            transition: 0.3s;
        }

        .gallery-table td:hover {
            transform: scale(1.05);
        }

        .gallery-table img {
            width: 320px;
            height: 220px;
            object-fit: cover;
            border-radius: 12px;
            display: block;
        }